name: CI

on:
  push:
  pull_request:
    branches:
      - master

jobs:
  haxelib:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: krdlab/setup-haxe@8f35d1215b93e940a76f9470e22e8a5ba6149598
        with:
          haxe-version: 4.3.4
      - name: Package Haxelib
        working-directory: haxelib
        run: haxe haxelib.hxml
      - uses: actions/upload-artifact@v5
        with:
          name: amfio-haxelib
          path: bin/haxelib/
          if-no-files-found: error

  api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: krdlab/setup-haxe@8f35d1215b93e940a76f9470e22e8a5ba6149598
        with:
          haxe-version: 4.1.5
      - name: Set up Haxelib dependencies
        run: |
          haxelib install lime --quiet
          haxelib install openfl --quiet
          haxelib install dox --quiet
          haxelib dev amfio ${{ github.workspace }}
      - name: Build API reference
        working-directory: docs
        run: haxe docs.hxml
      - uses: actions/upload-artifact@v5
        with:
          name: amfio-docs
          path: bin/api/
          if-no-files-found: error
      - name: Deploy to unstable
        if: ${{ github.event_name != 'pull_request' }}
        uses: garygrossgarten/github-action-scp@release
        with:
          local: bin/api
          remote: api.feathersui.com/amfio/unstable
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASS }}

  flash:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: krdlab/setup-haxe@8f35d1215b93e940a76f9470e22e8a5ba6149598
        with:
          haxe-version: 4.1.5
      - name: Set up Haxelib dependencies
        run: |
          haxelib install lime --quiet
          haxelib install openfl --quiet
          haxelib dev amfio ${{ github.workspace }}
      - name: Build Flash .swc library
        run: haxelib run openfl build flash -debug
